/* 
  Theme colors (CSS custom properties)
*/
:root {
  --bg: #2f3530;
  --bg-tr: #2f3530b0;
  --light-bg: #444b44;
  --text: #FFF;
  --heading: #ecaf35;
  --highlight: #d01117;
}

/* 
  Body
*/
body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  background-color: var(--bg);
  background-image: url("../images/buttons.png");
  background-repeat: repeat;
  background-size: cover;
  color: var(--text);
  font-size: 1.5rem;
  overflow-x: hidden;

  font-family: 'Signika', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


/* 
  Links
*/
a {
  color: var(--text);
  font-weight: bold;
  transition: all 0.3s;
}

a:hover {
  text-shadow: 0 0 10px var(--highlight);
}

.hidden {
  color: var(--text);
  font-weight: normal;
  transition: none;
  cursor:text;
  text-decoration: none;
}

.hidden:hover {
  text-shadow: none;
  cursor:text;
}

/* 
  Hero for index.html (and variant for Splash.html)
*/
.hero {
  max-height: 100vh;
  display: grid;
  grid-template-areas: "fill";
  text-align: center;
  position: relative;
 
}

.hero > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  grid-area: fill;
}

.hero-text {
  font-size: 1.5rem;
  grid-area: fill;
  background: linear-gradient(transparent, transparent 80vh,var(--bg));
  backdrop-filter: blur(0.5em);
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.splash {
  max-height: none;
}

.splash .hero-text {
  display: block
}

.logo {
  max-height: 60vh;
  max-width: 100%;
  margin-inline: auto;
  display: block;
  margin-block-start: 2rem;
  animation: 3s loadin;
}

@keyframes loadin {
  0% {
    transform: scale(75%);
  }
  100% {
    transform: scale(100%);
  }
}


/* 
  Headings
*/
  
h1, h2, h3, h4, h5, h6 {
  font-family: 'K2D', sans-serif;
  color: var(--heading);
}

h5 {
  text-decoration-line: underline;
}


/* 
  Containers and layout
*/
.container {
  max-width: 75ch;
  margin: 4rem 0.5rem 2rem 0.5rem;
}

.backdrop-color {
  box-shadow: 0px 10px 8px -7px var(--highlight);
}

.three-up {
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1.5em 0;
}

.card > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  margin: 1em auto;
}

.list {
  text-align: left;
}

li {
  margin: 15px 0;
}


/* 
  Header/nav
*/
header {
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  position:absolute;
  top: 0;
  right: 0;
  max-width: 0;
  height: auto;
  z-index: 1000;
  transition: all 0.4s;
  white-space: nowrap;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navlogo {
  position: absolute;
  z-index:-1;
  width: 75ch;
  display:flex;
  justify-content: center;
  align-self: center;
}
@media screen and (max-width:900px) {
  .navlogo{
    display: none;
  }
}


.testypoo {
  width:100%;
}

header.open {
  max-width: 100%;
  right: 0;
  background: linear-gradient(to right, transparent 2.4rem, var(--bg-tr) 2.4rem);
}

.hamburger-helper {
  position: absolute;
  top: 0;
  left: 0px;

  cursor: pointer;
  background-color: transparent;
}

.hamburger-helper:focus {
  outline: none;
}

.hamburger, 
.hamburger::before, 
.hamburger::after {
  position: absolute;
  height: 3px;
  width: 20px;
  background-color: gray;
  border-radius: 5px;
  transition: all 0.4s;
}

.hamburger {
  top: 1rem;
  left: 0.5rem;
  color: transparent
}

.open .hamburger {
  transform: rotate(45deg);
}

.hamburger::before {
  content: '';
  top: -6px;
  left: 0;
  opacity: 1;
}

.open .hamburger::before {
  opacity: 0;
}

.hamburger::after {
  content: '';
  top: 6px;
  left:0;
}

.open .hamburger::after {
  transform: rotate(-90deg) translate(5px,-1px);
}

nav {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.8s;
}

.open nav {
  opacity: 1;
}

.active-navlink {
  font-weight: bold;
  color: var(--heading)
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 12vw;
  z-index: 100000;
}


/* 
  Game posters
*/
.game-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
  gap: 2em;
  max-width: 80vw;
  margin-inline: auto;
}
.game-cards img {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}
.game-cards div {
  position: relative;
  aspect-ratio: 3 / 4;
  width: 100%;
  padding: 0.25em;
  overflow: hidden;
}
.game-cards div .backing {
  background: conic-gradient(red, cyan, lime, magenta, red, cyan, lime, magenta, red);
  position: absolute;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
  animation: 10s spin linear infinite;
}


/* 
  CTA buttons
*/
.button {
  display: block;
  padding: 0.5rem 1rem 0.7rem 1rem;
  background-color: var(--highlight);
  width: max-content;
  margin: 1rem auto;
  text-decoration: none;
  transition: all 0.4s;
}

.button:hover {
  color: var(--text);
  transform: scale(1.05);
  box-shadow: 0px 10px 8px -7px var(--highlight);
}


@media (prefers-reduced-motion: reduce) {
  .game-cards div .backing {
      animation: none;
  }
}


/* 
  Side-by-side cards
*/
.image-right, 
.image-left {
  margin: 2rem 1rem;
  display: block;
}

.image-right img, 
.image-left img {
  max-width: 100%;
  min-width: 300px;
}


/* 
  Embellishments
*/
.callout {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--heading);
}

.drop-shadow {
  box-shadow: 0px 10px 8px -7px var(--highlight);
}


/* 
  Responsive media queries
*/
@media screen and (min-width: 900px) {
  .game-cards img {
      grid-auto-rows: 325px;
  }
  .image-left,
  .image-right {
    display: grid;
    column-gap: 1rem;
    align-items: center;
    margin: 2rem auto;
    padding: 0 1rem;
  }

  .image-right {
    grid-template-columns: minmax(50ch,1fr) 1fr;
  }

  .image-left {
    grid-template-columns: 1fr minmax(50ch,1fr);
  }

  .container {
    margin: 4rem auto;
  }

  .three-up {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em 0; 
  }

  .card {
    max-width: 20vw;
  }

  header {
    text-align: center;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: var(--bg-tr);
    width: 100%;
    max-width: 100%;
    transition: none;
    white-space: inherit;
  }

  header > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: none;    
    }
    header > nav > div:not(:first-of-type) {
      margin-inline-start: 1.5em;
    }

  .hamburger-helper {
    display: none;
  }
  
  .new-games,
  .image-left > img,
  .image-right > img {
    max-width: 40vw;
    width: 100%;
  }

  .new-games-container {
    width: max-content
  }

  .image-right > div:first-child,
  .image-left > div:first-child {
    max-width: 65ch;
  }

  .image-right {
    grid-template-columns: minmax(1ch,65ch) max-content;
    justify-content: center;
  }

  .image-left {
    grid-template-columns: max-content minmax(1ch,65ch);
  }
  body {
    margin-top:120px;
  }
  .header-logo {
    display: none;
  }
  nav.open {
    
    background: rgb(47,53,48);
background: linear-gradient(90deg, rgba(47,53,48,0) 0%, rgba(47,53,48,0.5178865491509104) 50%, rgba(47,53,48,0) 100%);
  }
  nav {
    background: rgb(47,53,48);
background: linear-gradient(90deg, rgba(47,53,48,0) 0%, rgba(47,53,48,0.5178865491509104) 50%, rgba(47,53,48,0) 100%);
  }
  
  
}

/* 
  Image carousel
*/

.new-games-container {
  max-width: 100%;
  max-height: 450px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.new-games-container img {
  position: relative;
  display: block;
  width: 800px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.new-games {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
  background-color: #d01117;
}

.new-games,
.image-left > img,
.image-right > img {
  width: 100%;
}


/* 
  Animations
*/

@keyframes spin {
  from {rotate: 0deg}
  to {rotate: 360deg}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

.section-splitter {
  background-color: var(--light-bg);
}

