:root {
    --bg: #2f3530;
    --bg-tr: #2f353055;
    --text: #FFF;
    --heading: #ecaf35;
    --highlight: #d01117;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    background-color: var(--bg);
    color: var(--text);
    font-size: 1.2rem;
  
    font-family: 'Signika', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  a {
    color: var(--text);
    font-weight: bold;
    transition: all 0.3s;
  }
  
  a:hover {
    text-shadow: 0 0 10px var(--highlight);
  }
  
  .hero {
    max-height: 100vh;
    display: grid;
    grid-template-areas: "fill";
    text-align: center;
    position: relative;
  }

  .hero > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    grid-area: fill;
  }

  .hero-text {
    font-size: 1.5rem;
    grid-area: fill;
    background: linear-gradient(transparent, transparent 80vh,var(--bg));
    backdrop-filter: blur(0.5em);
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    max-height: 20vh;
    max-width: 100%;
    margin-inline: auto;
    display: block;
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family: 'K2D', sans-serif;
  color: var(--heading);
}


.active-navlink {
  font-weight: bold;
  color: var(--heading)
}

.container {
  max-width: 75ch;
  margin: 2em 0.5rem;
  scrollbar-width:thin;
  scrollbar-color:#d01117 rgba(47,53,48,0);

}


.container::-webkit-scrollbar {
  background-color:rgba(47,53,48,0);
  width: .5rem;
  
}
.container::-webkit-scrollbar-thumb{
  background-color:#d01117;
  border-radius: 10px;
}

.backdrop-color {
  background: rgb(32, 36, 33);
 box-shadow:0 0 10px 10px #424743;
 border-radius: 5px;
}


.three-up {
  margin: 2rem 1rem;
}

.card {
  margin: 1.5em 0;
}

.card > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  margin: 1em auto;

  box-shadow: 0px 10px 8px -7px var(--highlight);
}

.list {
  text-align: left;
}

li{
  margin: 15px 0;
}

.weiner {
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}


header {
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  background: linear-gradient(to right, transparent 2.4rem, var(--bg-tr) 2.4rem);
  position: absolute;
  top: 0;
  right: -9rem;
  z-index: 1000;
  transition: all 0.4s;
}

header.open {
  right: 0;
}

.hamburger-helper {
  cursor: pointer;
  background-color: transparent;
}
.hamburger-helper:focus {
  outline: none;
}
.hamburger, .hamburger::before, .hamburger::after {
  position: absolute;
  height: 3px;
  width: 20px;
  background-color: gray;
  border-radius: 5px;
  transition: all 0.4s;
}
.hamburger {
  top: 1rem;
  left: 0.5rem;
  color: transparent
}
.open .hamburger {
  transform: rotate(45deg);
}
.hamburger::before {
  content: '';
  top: -6px;
  left: 0;
  opacity: 1;
}
.open .hamburger::before {
  opacity: 0;
}
.hamburger::after {
  content: '';
  top: 6px;
  left:0;
}
.open .hamburger::after {
  transform: rotate(-90deg) translate(5px,-1px);
}


@media screen and (min-width: 600px), screen and (min-device-width: 600px) {
  .container {
    margin: 2rem auto;
  }
  .three-up {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0;
  }
  .card {
    max-width: 20vw;
  }

  header {
    text-align: center;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: var(--bg-tr);
  }
  header > nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    }
    header > nav > div:not(:first-of-type) {
      margin-inline-start: 1.5em;
    }
    

  .hamburger {
    display: none;
  }
  
}
