.info-window {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  margin-top: 5em;
  width: 85%;
  height: auto;
}


.info-box {
  margin:15px auto;
  padding:30px;
  width: 85%;
  max-width: 35ch;
  background-color: #444b44;
  box-shadow: 0px 10px 8px -7px var(--highlight);
  text-align: center;
}

.section-window {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-top: 5em;
  width: 85%;
  height: auto;  
}

.section-header {
    display:flex;
    justify-content: center;
    width:100%;
    margin:20px;
    text-align: center;
}


.group-section {
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  width:100%;
  max-width: 80vw;
  height:auto;
  margin: 15px;
  justify-content: right;
}

.group-img {
  display: flex;
  max-width: 80vw;
  box-shadow: 0px 10px 8px -7px var(--highlight);
}

.group-text {
  display: flex;
  flex-wrap: wrap;
  min-width: 80vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 8px -7px var(--highlight);
  border: 2px outset #2f322f;
  background-color: #444b44;
}

@media screen and (min-width: 600px), screen and (min-device-width: 600px) {
  .group-text {
    min-width: 55%;
    width: 55%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .info-box {
    max-width: min(25vw, 30ch);
  }
}

.food-section {
  background-image: url("/images/hotdogs.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 10px 8px -7px var(--highlight);
}

.food-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  background-color: var(--bg);
  padding:3px;
  width: 95%;
  height: auto;
}

.menu-list {
  list-style:none;
  padding-left: 0;
}

.menu-board {
  margin: 3px;
  min-width:20ch; 
  width:49%;
  background-image: url("../images/drinks.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}